<library path="lib/libstatus_gui">
  <class name="status_gui/status" type="status_gui::status" base_class_type="rqt_gui_cpp::Plugin">
    <description>
      A GUI plugin with a topic Subscriber.
    </description>
    <qtgui>
      <group>
        <label>My-GUI</label>
	<icon type ="theme">folder</icon>
      </group>
      <label>Status_Button</label>
      <icon type="theme">input-tablet</icon>
      <statustip>A GUI plugin with a topic Subscriber.</statustip>
    </qtgui>
  </class>
</library>
